<H1>All Lectures by <%=current_user.name.capitalize%>!</h1>
<% if !current_user.topics%>
  <% current_user.topics.each do |topic| %>
  <h3><%=topic.title %></h3>
  <% end %>
  <% else %>
  You have no previous topics. To add a topic please click the following button
  <%end%>
  <%=button_to "Add Up coming Topic",new_topic_path%>
