<H1>Speeakers</h1>
  <% User.all.each do |user| %>
  <table>
   <tr><td><%= user.name %></td>
   <td>&nbsp;&nbsp;&nbsp;
         <% if current_user && user.id == current_user.id %>
         <%= link_to "More About Speaker", user_path(user),method: :get%>/
         <%= link_to "Edit", edit_user_path(user),method: :get%>
         <% else %>
         <%= link_to "More About Speaker", user_path(user),method: :get%>
         <% end %>
    </td>
   <%end %>
 </table>
