<h2>Welcome,</h2>
<% if @user.name == nil%>
<strong>Speaker Profile under process!</strong><br>
<% name = "Undefined"%>
<% else %>
<% name = @user.name %>
<% end %>

Speaker with least lectures is <strong> <%=link_to  name,user_path(@user)%></strong>,with <%= @user.topics.count%>
<%= link_to "Topics",user_topics_path(@user)%>
