<% if current_user %>
<p><b>Hi <%= current_user.name if current_user.name%>!</b> You Can Manage All Speakers Data Here</p>
   <div id="displaymode"><ol></ol></div>
<a id="speakerdata" href="/users">All Speakers</a>
<button name="speakers_mostLectures">Mostly Heard</button>
<button name="speakers_leastLectures">Least Heard</button>
<button name="speakers_data">All Speakers</button>
<% else%>
 <p>Please Sign In, Only members can see this page</p>
 <a class="nav-link " href="/users/sign_in">Sign In </a>
 <% end%>
