


<div class="et_pb_text_inner">

<h2 style="text-align: center;">Welcome to CSIX</h2>
<p>CSIX CONNECT helps individuals in career transition to significantly improve their job search success through education, in-person networking and mutual support.   In today’s job market, more than 80 per cent of jobs obtained result from successful networking. CSIX CONNECT provides the means to tap into and leverage the power of a network that is already more than 7000 members strong.</p>
<hr />

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank"><input name="cmd" type="hidden" value="_s-xclick" /><input name="hosted_button_id" type="hidden" value="9WDRN6M2HWQJQ" /><style type='text/css'></style><span id='csmi-ba1a50fbf9f8ce2507c4b44f8a16b7ae' class='csmi csmi-bid-1 csmi-GreatNonProfits'> <script type="text/javascript">
gnp_request = {"slug" : "csix-connect", "color-set" : 1 , "campaign" : 54};
</script>
<style> div.gnp_trb { visibility:hidden; } </style>
<script src="https://greatnonprofits.org/js/api/badge_toprated.js" type="text/javascript"> </script>

<div class="gnp_trb" id="gnp_trb">
<a href="http://greatnonprofits.org/org/csix-connect">
<img src="//cdn.greatnonprofits.org//img/2015-top-rated-awards-badge-embed.png?id=360161" alt="CSIX CONNECT Nonprofit Overview and Reviews on GreatNonprofits" title="2015 Top-rated nonprofits and charities" />
</a>
</div></span> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="http://csix.org/wp-content/uploads/2014/11/x-click-but21.gif" type="image" />              </form>

</div>
</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2  et_pb_column_1">
<div class="et_pb_text et_pb_module et_pb_bg_layout_dark et_pb_text_align_left  et_pb_text_1">
<p><a href="https://www.linkedin.com/company/csix-connect"
 target="_blank">
 <img class="alignnone wp-image-446 csix-social-logo" src="http://csix.org/wp-content/uploads/2015/03/CSIX-LinkedIn.png" alt="CSIX-LinkedIn" /></a>
  <a href="http://www.meetup.cofacebookm/CSIX-Connect/" target="_blank">
    <img class="alignnone  wp-image-445 csix-social-logo" src="http://csix.org/wp-content/uploads/2015/03/meetuplogo.png" alt="meetuplogo" /></a>
       <a href="https://www.facebook.com/csixconnect" target="_blank">
         <img class="alignnone  wp-image-444 csix-social-logo" src="http://csix.org/wp-content/uploads/2015/03/FB_FindUsOnFacebook-320-300x77.png" alt="facebooklogo" width= 150 height=200 /></a></p>
</div>
