<div class="alignpages">
  <div class="center">
<main role="main">

      <!-- Marketing messaging and featurettes-->

      <!--================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

        <!-- Three columns of text below the carousel -->
  <div class="welcome-user">Hi <%=  current_user != nil ? current_user.name: "Future User"%>!</div>
        <div class="container marketing">


        <div class="row">

          <div class="col-lg-4">


            <img class="rounded-circle" src="assets/images/round1.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Learn About Us In Few Minutes</h2>
            <p>CSIX CONNECT helps individuals in career transition to significantly improve their job search success through education, in-person networking and mutual support.   In today’s job market, more than 80 per cent of jobs obtained result from successful networking.</p>

            <p><div class="btn btn-secondary popup"  onclick="myFunction()">View details »
                   <span class="popuptext" id="myPopup" >
                      <div class="link-class"> <a href="#">Link 1</a></div>
                                  </span>
            </div>
          </p>


          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/round2.png" alt="About you image" width="140" height="140">
            <h2>Tell Us About Yourself</h2>
            <p>Please tell us about you. What makes you a unique speaker who can change people's life</p>
            <p><button class="btn btn-secondary popup"  onclick="myFunction2()">View details »
                   <div class="popuptext popLayout" id="myPopup2" >
                  <div class="link-class"><a href="#"> Link 2</a></div>
                  </div>
            </button>
          </div>
          </p><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="assets/images/round3.png" alt="Future Speaker" width="140" height="140">
            <h2>Become A Speaker!</h2>

            <p>CSIX is built on the belief that networking is most effective when done face-to-face. Therefore, to join CSIX you must attend a meeting and sign up in person. Membership is free. CSIX membership provides access to a vast array of job listings and job search resources via other members, the CSIX CONNECT Yahoo! group.</p>
            <p><button class="btn btn-secondary popup"  onclick="myFunction3()">View details »
                   <span class="popuptext" id="myPopup3" >
                  <div class="link-class"><a href="#">Link 3</a></div>
                  <span>
            </button></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      <div class="container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y_6aZX35x28" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

          </body>
        </html>


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div>
    </div>


      <!-- /.container -->
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="./index_files/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="./index_files/popper.min.js"></script>
      <script src="./index_files/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="./index_files/holder.min.js"></script>


    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg></body></html>
