<table>
    <tr>
        <th>Speaker</th>
        <th>Topic</th>
        <th>Date</th>
    </tr>
    <% @speakerarchives.each do |speaker|%>
      <% user = User.find(speaker.user_id)  %>
      <% topic = Topic.find(speaker.topic_id)  %>
    <tr><% if user != nil && topic != nil%>
      <td><%= user.name%><td>
      <td><%= topic.title%><td>
      <td><%= topic.date_of_event%><td>
        <% end %>
    </tr>
    <% end %>
</table>
